.custom-rounded{
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}
.custom-rounded:hover{
    border-radius: 50px;
}
.custom-rounded:hover+ .text-custom-rounded{
    color: currentColor;
}